@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p id="effect">
            Senstive information from targetted vulnerable website will be posted here.
        </p>
        
    </div>
    

</div>



